<form class="form-popup" action="/ajax/result/callback_result.php" method="post" data-form-ajax>
	<header class="form-popup__header">Заказать обратный звонок</header>
	<div class="form-popup__field">
		<input type="text" name="name" placeholder="Имя">
	</div>
	<div class="form-popup__field">
		<input type="tel" name="phone" placeholder="Телефон" data-mask="phone">
	</div>
	<div class="form-popup__field">
		<input type="text" name="time" placeholder="Удобное время звонка">
	</div>
	<footer class="form-popup__footer">
		<button class="btn" type="submit">Отправить</button>
	</footer>
</form>